<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">
    <title>CV</title>
</head>
<body>
    <header>
        <h3 class="button-redirect" id="no-redirect" >CV</h3>
        <a class="button-redirect" id="redirect" href="/portfolio">Portfolio</a>
    </header>

    <section>
        <h2>Experience</h2>
        <h4>Engineering Intern</h4>
        <p>
            As a pair programmer, I created a website that would replace the old user interface using Blazor (mix of HTML and C#) so
            any user can run biological experiments. During my time I presented the interface to my customers at Imperial College who
            gave valuable feedback.
        </p>
        <br>
        <h4>Engineering Intern</h4>
        <p>
            As a pair programmer, I created a website that would replace the old user interface using Blazor (mix of HTML and C#) so
            any user can run biological experiments. During my time I presented the interface to my customers at Imperial College who
            gave valuable feedback.
        </p>
    </section>
</body>
</html>