<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/Favicon.png">
    <title>CV</title>
</head>
<body>
    <header>
        <h3 class="button-redirect" id="no-redirect" >CV</h3>
        <a class="button-redirect" id="redirect" href="/portfolio">Portfolio</a>
    </header>

    <main>
        <h1>RubberDuckBug</h1>
        <h5>ng.chiewgwun@gmail.com</h5>
    </main>
    <section>
        <h2>Experience</h2>
        <h4>Engineering Intern</h4>
        <h6>Aixcell, Aixtron | Swavesey, Cambridgeshire</h6>
        <h6>July 2024 - September 2024</h6>
        <p>
            As a pair programmer, I created a website that would replace the old user interface using Blazor (mix of HTML and C#) so
            any user can run biological experiments. During my time I presented the interface to my customers at Imperial College who
            gave valuable feedback.
        </p>

        <h4>Engineering Intern</h4>
        <h6>Aixcell, Aixtron | Swavesey, Cambridgeshire</h6>
        <h6>July 2023 - August 2023</h6>
        <p>
            I created a software program, to a working level, in the Unity game engine that represents an automated cell culture
            machine so clients could understand how each component works and can also be used by the developers as a simulation
            for any new protocols added onto the machine. This work helped me develop my understanding for C# and the Unity
            Engine.
        </p>
    </section>
    <section>
        <h2>Education</h2>
        <h4>BEng Computer Science (Software Engineering)</h4>
        <h6>University of Sheffield</h6>
        <h6>2024 - 2027</h6>
        <ul>
            <li>Got a first in the first and second year</li>
        </ul>

        <h4>A Levels</h4>
        <h6>Hills Road Sixth Form College</h6>
        <h6>2022 - 2024</h6>
        <p>
            BULLET POINTS HERE
        </p>
    </section>

    <section>
        <h2>Programming Languages</h2>
        <p>
            BULLET POINTS HERE
        </p>
    </section>

    <section>
        <h2>Skills</h2>
        <p>
            BULLET POINTS HERE
        </p>
    </section>

    <section>
        <h2>Activities</h2>
        <p>
            BULLET POINTS HERE
        </p>
    </section>

    <footer>
        <a class="email" href="/email">Email me</a>
    </footer>
</body>
</html>