<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/email.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/Favicon.png">
    <title>Email me</title>
</head>
<body>
    <form action="/submit" method="post">
        {{ form.message.label }} {{ form.message(rows=5, cols=50) }}
        {% for error in form.message.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
        <button type="submit">Send</button>
    </form>
</body>
</html>