<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/email.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/Favicon.png">
    <title>Email me</title>
</head>
<body>
    <div class="email-box">
        <h2>Email me</h2>
            <form action="/email" method="post">
                <!-- Jinja syntax -->
                <div class="main-label">
                    {{ form.companyName.label(class="input-label") }} {{ form.companyName(size=40, class="input-box") }}
                    {% for error in form.companyName.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="main-label">
                    {{ form.message.label(class="input-label") }} {{ form.message(rows=8, cols=40, class="input-box") }}
                    {% for error in form.message.errors %}
                        <p>{{ error }}</p><br>
                    {% endfor %}
                </div>

                {% if get_flashed_messages() %}
                    <div class="main-label">
                        {% for message in get_flashed_messages() %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="options">
                    <a href="/cv"> <img src="../static/images/GoBackArrow.png" alt="Go Back" class="arrow"> </a>
                    <button type="submit">Send</button>
                </div>
            </form>
    </div>
</body>
</html>