<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Sign in</title>
</head>
<body>
    <div class="login-box">
        <form>
            <div class="main-label">
                <label for="user">User: </label>
                <input type="text" id="user" name="user" placeholder="User ID">
            </div>

            <br>

            <div class="main-label">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>

            <div class="toggle-switch">
                <input type="checkbox" id="toggle" class="toggle-input">
                <label for="toggle" class="toggle-label">
                    <span class="toggle-text-on">EMPLOYEE</span>
                    <span class="toggle-text-off">EMPLOYER</span>
                    <span class="toggle-slider"></span>
                </label>
            </div>

            <br>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>