<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/Favicon.png">
    <title>CV</title>
</head>
<body>
    <header>
        <h3 class="button-redirect" id="no-redirect" >CV</h3>
        <a class="button-redirect" id="redirect" href="/portfolio">Portfolio</a>
    </header>

    <section id="first">
        <h2>Experience</h2>
        <h4>Engineering Intern</h4>
        <h6>Aixcell, Aixtron | Swavesey, Cambridgeshire</h6>
        <h6>July 2024 - September 2024</h6>
        <p>
            As a pair programmer, I created a website that would replace the old user interface using Blazor (mix of HTML and C#) so
            any user can run biological experiments. During my time I presented the interface to my customers at Imperial College who
            gave valuable feedback.
        </p>

        <h4>Engineering Intern</h4>
        <h6>Aixcell, Aixtron | Swavesey, Cambridgeshire</h6>
        <h6>July 2023 - August 2023</h6>
        <p>
            I created a software program, to a working level, in the Unity game engine that represents an automated cell culture
            machine so clients could understand how each component works and can also be used by the developers as a simulation
            for any new protocols added onto the machine. This work helped me develop my understanding for C# and the Unity
            Engine.
        </p>
    </section>
    <section>
        <h2>Education</h2>
        <h4>BEng Computer Science (Software Engineering)</h4>
        <h6>University of Sheffield</h6>
        <h6>2024 - 2027</h6>
        <ul>
            <li>Got a first in the first and second year</li>
            <li>Examples of modules learnt:
                <ul>
                    <li>AI/LLMs</li>
                    <li>Robotics</li>
                    <li>Software testing + HTTP methods</li>
                    <li>Functional Programming</li>
                    <li>Devices and Networks</li>
                </ul>
            </li>
            <li>Society member of:
                <ul>
                    <li>Ethical hackers</li>
                    <li>Dungeons and Dragons</li>
                    <li>Video game developers</li>
                    <li>Basketball</li>
                </ul>
            </li>
        </ul>

        <h4>A Levels</h4>
        <h6>Hills Road Sixth Form College</h6>
        <h6>2022 - 2024</h6>
        <ul>
            <li>(A) in Maths, (A) in Computer Science, (B) in Physics + one year of further maths</li>
            <li>Participated in FXP (Video game dev) festival</li>
            <li>Achieved top 10% in the country for Bebras (Maths competition)</li>
        </ul>
    </section>

    <section>
        <h2>Programming Languages</h2>
        <ul>
            <li>Java (+ Springboot)</li>
            <li>Python (+ Flask)</li>
            <li>C#</li>
            <li>React</li>
            <li>Ruby (+ Ruby on Rails / Sinatra)</li>
            <li>HTML/CSS</li>
            <li>SQL</li>
        </ul>
    </section>

    <section>
        <h2>Skills</h2>
        <ul>
            <li>Used Git for over 4 years (on 2 accounts)
                <ul>
                    <li>This includes over Git services like GitHub/GitLab/Git Bash</li>
                </ul>
            </li>
            <li>Used multiple Linux kernels (Ubuntu, Kali)</li>
            <li>Independence and resilience from attending multiple summer/music camps</li>
            <li>Trustworthy and reliable which were highlighted from attending NCS (National Civil Service)</li>
            <li>Bronze Duke of Edinburgh Award</li>
            <li>Created an escape room video game by myself and a 3D platformer game as a team</li>
            <li>Created a computer version of Carcassonne with AI players for my Computer Science A-level (Grade A*)</li>
            <li>Studied Mandarin for GCSE</li>
        </ul>
    </section>

    <section>
        <h2>Activities</h2>
        <ul>
            <li>Full Driving License</li>
            <li>Came 2nd out of (roughly) 300 groups in ESBF Competition (Engineering Presentation Competition)</li>
            <li>Attended hackathon 9 and 10 with my highest placement being 8th/250</li>
            <li>Accepted to play at National level (Performance Centre) for the U16 East London Hockey team</li>
            <li>Played the Violin (Grade 3) and Alto Sax (Grade 4) and got invited to play in musical concerts from a young age</li>
            <li>Became the 4th best U13 Rugby team in England (2017)</li>
            <li>Completed a Tandem Skydive at North London Skydive Centre</li>
            <li>Played in a Football club for 4 years that got promoted during my time playing there</li>
            <li>Awarded the Advanced Open Water Scuba dive certificate by PADI</li>
        </ul>
    </section>

    <div class="end"></div>

    <footer>
        <a href="/logout"> <img src="../static/images/GoBackArrow.png" alt="Go Back" class="arrow"> </a>
        <a class="email" href="/email">Contact me</a>
    </footer>
</body>
</html>