<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/Favicon.png">
    <title>Sign in</title>
</head>
<body>
    <div class="login-box">
        <h2>Sign in</h2>
        <form action="/" method="post">
            <div class="main-label">
                <label class="input-box-label" for="user">User</label>
                <input class="input-box" type="text" id="user" name="user" placeholder="User ID">
            </div>

            <br>

            <div class="main-label">
                <label class="input-box-label" for="password">Password</label>
                <input class="input-box" type="password" id="password" name="password" placeholder="Password">
            </div>

<!--            DO THIS NEXT AND THE TWO ABOVE FOR LOGIN-->
            <div class="toggle-switch">
                <input type="checkbox" id="toggle" class="toggle-input">
                <label for="toggle" class="toggle-label">
                    <span class="toggle-text-on">CANDIDATE</span>
                    <span class="toggle-text-off">EMPLOYER</span>
                    <span class="toggle-slider"></span>
                </label>
            </div>

            {% if get_flashed_messages() %}
                <div class="main-label">
                    {% for message in get_flashed_messages() %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <br>
            <button type="submit"><b>Submit</b></button>
        </form>
    </div>
</body>
</html>