<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/Favicon.png">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <a class="button-redirect" id="redirect" href="/cv">CV</a>
        <h3 class="button-redirect" id="no-redirect" >Portfolio</h3>
    </header>

    <section>
        <h2>Portfolio Website + AWS</h2>
        <a class="github" href="https://github.com/RubberDuckBug/Portfolio" target="_blank"><i>https://github.com/RubberDuckBug/Portfolio</i></a>
        <h6>Sept 2, 2026</h6>
<!--        https://www.w3schools.com/HTML/html5_video.asp-->
        <img src="../static/images/PortfolioIMG.png">
        <p>
            I created a website that stores my CV and all my projects. I focused more on the back-end for this project
            so the website/database/email service is all from AWS. I have also created a login system so in the future
            this website could be used for other people needing a portfolio website where they could sign up and add
            their own cv and portfolio details.
        </p>
        <p class="bullet-intro" >Skills:</p>
        <ul>
            <li>Flask</li>
            <li>AWS Services: IAM, SES, RDS, Elastic Beanstalk, EC2, VPC, CodePipeline</li>
            <li>AWS API</li>
            <li>SQL (with SQLAlchemy)</li>
            <li>HTML/CSS</li>
            <li>HTTP methods</li>
        </ul>
    </section>

    <section>
        <h2>VISUAL TEXT ADVENTURE GAMES + AI CHAT BOT</h2>
        <a class="github" href="https://github.com/FlebblePop/hacksheffield10" target="_blank"><i>https://github.com/FlebblePop/hacksheffield10</i></a>
        <h6>Nov 30, 2025</h6>
        <iframe
            class="video"
            src="https://youtube.com/embed/3YcFKn68Sn8?mute=1&loop=1&playlist=3YcFKn68Sn8&controls=1"
            title="Text Adventure Demo"
            loading="lazy"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
        <p>
            For a hackathon, we created a web page created using Java (Springboot) and React where there is a picture showing the
            place the character is in and a textbox that the system will output to the player and another text box where the player can
            enter text. However, all NPCs in the game are ChatGPT models so talking to them will always give you different
            interactions.
        </p>
        <p class="bullet-intro" >Skills:</p>
        <ul>
            <li>Java (Springboot)</li>
            <li>React</li>
            <li>ChatGPT API</li>
        </ul>
    </section>

    <div class="end"></div>

    <footer>
        <a href="/logout"> <img src="../static/images/GoBackArrow.png" alt="Go Back" class="arrow"> </a>
        <a class="email" href="/email">Contact me</a>
    </footer>
</body>
</html>