<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="RubberDuckBug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/Favicon.png">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <a class="button-redirect" id="redirect" href="/cv">CV</a>
        <h3 class="button-redirect" id="no-redirect" >Portfolio</h3>
    </header>

    <section>
        <h2>Portfolio Website</h2>
        <a class="github" href="https://github.com/RubberDuckBug/Portfolio" target="_blank"><i>https://github.com/RubberDuckBug/Portfolio</i></a>
        <h6>Sept 2, 2026</h6>
<!--        https://www.w3schools.com/HTML/html5_video.asp-->
        <img src="../static/images/PortfolioIMG.png">
        <p>
            I created a website that stores my CV and all my projects, so that employers can see my CV
            in a nicer way rather than a 2 page CV (more interactive) and it also contains a button for
            the employer to email me. I have also made this website for other people looking for a job
            where they can edit their own pages and it will stored in the cloud.
        </p>
        <p class="bullet-intro" >Skills:</p>
        <ul>
            <li>Flask</li>
            <li>Cloud architecture</li>
        </ul>
    </section>

    <footer>
        <a class="email" href="/email">Contact me</a>
    </footer>
</body>
</html>